body {
  background-color: #14121d;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: #ffff;

}

h1 {
  color: #ffff;
}

ul {
  list-style: none;
  background-color: #a81424;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
}

li a:hover {
  background-color: #62030c;
}

.esquina {
  float: right;
}

.cuerpo {

  background-color: #14121d;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background-color: #282828;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.titulo {
  color: #ffd700;
  text-align: center;
  margin-bottom: 30px;
}

.entrada {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: none;
  background: #383838;
  color: #fff;
  border-radius: 5px;
}

.entrada :focus {
  outline: none;
  background: #484848;
}

.boton {
  background-color: #ffd700;
  color: #181818;
  padding: 15px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.boton:hover {
  background-color: #f0e68c;

}

.forgot-password {
  text-align: center;
  margin-top: 10px;
  color: #fff;

}

.forgot-password a {
  color: #ffd700;
  text-decoration: none;
}

.container {
  position: relative;
}

.selector-conetenedor {
  padding-top: 10em;
  display: flex;
  justify-content: center;
}

.selector-titulo {
  padding-top: 1em;
  display: flex;
  justify-content: center;
  font-size: 40px;
}

.selector-conetenedor>button {
  display: block;
  padding: 20px;
  margin: auto;
}
